<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image">
            </div>
            <div class="product-info">
                <h1>{{products}}</h1>
                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>
                <span v-if="onSale">On Sale</span>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                <ul>
                    <li v-for="size in sizes">{{size}}</li>
                </ul>
                <div v-for="variant in variants" :key="variant.variantId">
                    {{variant.variantColor}}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                products: 'Boots',
                description: 'A pair of warm, fuzzy socks',
                image: 'img/socks-green.jpg',
                inStock: true,
                onSale: true,
                details: ["80% cotton", "20% polyester", "Gender-neutral"],
                variants: [
                    {
                        variantId: 2234,
                        variantColor: 'green'    
                    },
                    {
                        variantId: 2235,
                        variantColor: 'blue'
                    }
                ],
                sizes: ['S', 'M', 'L', 'XL', 'XXL', 'XXXL']
            }
        })
    </script>
</body>
</html>